services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://0.0.0.0:8080
      ConnectionStrings__TaskDb: "Data Source=/app/App_Data/taskmaster.db" # absolute path = no surprises.
    volumes:
      - taskmaster-data:/app/App_Data

volumes:
  taskmaster-data:
