name: ci

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore ./TaskMaster.sln

      - name: Build
        run: dotnet build ./TaskMaster.sln --no-restore -c Release

      - name: Test
        run: dotnet test ./TaskMaster.sln --no-build -c Release

